.PrivateValueLabel-label-15 {
    color: black !important;
    font-size: 16px;
    font-weight: bold;
}
.PrivateValueLabel-circle-11 {
    color: white !important;
}
.MuiSlider-rail{
    color:white !important;
}
.MuiSlider-track{
    color:white !important;
}
.MuiSlider-thumb{
    color:white !important;
}